body {
  background: url(bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
  min-height: 100%;
  margin: 0;
}

@font-face {
  font-family: 'Conthrax';
  src: url('conthrax-sb.ttf') format('truetype')
}

.logo {
  max-width: 100%;
  display: block;
  padding: 50px 0px 80px 0px;
  margin: auto;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  color: #8B8394;
  background-color: transparent;
  width: 300px;
  padding: 15px;
  font-family: 'Oswald', sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  box-shadow: 0px 0px 14px 6px rgba(255, 255, 255, 0.2);
  margin-top: 30px;
}

button:hover {
  box-shadow: 0px 0px 14px 6px rgba(255, 255, 255, 0.4);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.constellation {
  grid-column: span 3;
}

.constellation div {
  position: relative;
}

.constellation img {
  opacity: 0.5;
  display: block;
  margin: auto;
}

.constellation h1 {
  font-family: 'Conthrax', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 0;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.constellation p {
  text-align: center;
  padding: 0px 5%;
  visibility: hidden;
  color: #8768A3;
}

.constellation a {
  color: #4D435C;
}

.constellation a:hover {
  color: #FFF;
}

.constellation a:hover img {
  opacity: 1;
}

.constellation a:hover + p {
  visibility: visible;
}

@media (max-width: 1300px) {
  .constellation h1 {
    font-size: 1.8rem;
  }

  .constellation img {
    width: 180px;
  }
}

@media (max-width: 991px) {
  .constellation {
    grid-column: span 6;
  }

  .constellation img {
    opacity: 1;
  }

  .constellation a {
    color: #FFF;
  }

  .constellation p {
    visibility: visible;
  }

  button {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .inside {
    padding-top: 100px;
  }
}

.content {
  min-height: calc(100vh - 130px);
}

.footer {
  height: 100px;
  margin-top: 30px;
  color: #53415D;
  text-transform: uppercase;
  text-align: center;
}

.footer div {
  margin-bottom: 30px;
}

.footer p {
  font-size: 0.8rem;
}

.footer a {
  color: #53415D;
  margin: 15px;
}

.footer a:hover {
  color: #FFF;
}
