body {
  background: url(bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #4B3559;
  font-family: 'Oswald', sans-serif;
  min-height: 100%;
  margin: 0;
}

@font-face {
  font-family: 'Conthrax';
  src: url('conthrax-sb.ttf') format('truetype')
}

.logo {
  max-width: 100%;
  display: block;
  margin: auto;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  color: #8B8394;
  background-color: transparent;
  width: 350px;
  padding: 15px;
  font-family: 'Oswald', sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  box-shadow: 0px 0px 14px 6px rgba(255, 255, 255, 0.2);
  margin-top: 30px;
}

button:hover {
  box-shadow: 0px 0px 14px 6px rgba(255, 255, 255, 0.4);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.constellation {
  grid-column: span 3;
  position: relative;
}

.constellation img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.5;
}

.constellation h1 {
  position: absolute;
  font-family: 'Conthrax', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 0;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.constellation p {
  position: relative;
  top: 80%;
  text-align: center;
  padding: 0px 5%;
  /* visibility: hidden; */
}

.constellation a {
  color: #4D435C;
}

.constellation a:hover {
  color: #FFF;
}

.constellation a:hover img {
  opacity: 1;
}

.constellation a:hover + p {
  visibility: visible;
}

@media (min-width: 992px) {
  .outside img,
  .outside h1 {
    top: 30%;
  }

  .outside p {
    top: 60%;
  }
}

.content {
  min-height: calc(100vh - 50px);
}

.footer {
  height: 50px;
  background-color: red;
}
